@font-face {
    font-family: AvenirLTStd-Book;
	src: url(fonts/AvenirLTStd-Book.otf); }



body {
  font-family: AvenirLTStd-Book;
  background-color: rgb(249, 250, 254);
}


.nav{
  text-align: right;
	color :rgb(128, 128, 128);
	text-decoration: none;
	font: 48px;
	padding: 10px 20px 5px 20px;}

  .button {
    background-color : black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left : 30px;
    padding-right: 30px;
    border-radius : 20px;
  }

.name{
  float: left;
  color: black;
  font-weight: bold;
  font-size: 120%;
}

h1 {
  font-size: 240%;
  padding-top: 200px;
  padding-left: 30px;
}

.description{
  display: inline-block;
  border-left-style: solid;
  border-color: gray;
  float: left;
  margin-left: 40px;
  width: 460px;
  padding-left: 30px;
  color: rgb(128, 128, 128);

}

.circles {
display: inline-block;
margin-left:100px;
padding-bottom: 50px;
}

.scroll {
  text-align: center;
  padding-bottom:100px;
  border: 100px;
}
